/* Global  */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif;
    color: #636363;
    font-weight: 400;
    line-height: 1.6;
}
button {
    padding: 20px 35px;
    font-size: 0.9rem;
    font-weight: 500;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border: 1px solid transparent;
    transition: all .5s;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    outline: 0;
    line-height: 1.2;
}
button:hover {
    background-position: right center;
}
.container {
    max-width: 1199px;
    margin: auto;
}

/* start header  */
header {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu {
    display: flex;
    align-items: center;
}
.header__menu ul {
    padding: 55px 0px;
}
.header__menu ul li{
    display: inline-block;
    padding: 0 15px;
    list-style: none;
}
.header__menu ul li a{
    text-decoration: none;
    color: #070120;
    font-size: 0.9rem;
    transition: all .5s;
    font-weight: 500;
}
.menu a:hover {
    color: #f55f8d;
}
.menu a:hover span {
    animation: upToDown 0.3s;
}
@keyframes upToDown {
    49% {
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}
.menu span {
    display: inline-block;
    margin-right: 3px;
}
.menu i {
    font-size: 9px;
    margin-top: -3px;
    vertical-align: middle;
}
.header__menu button {
    margin-left: 30px;
}

/* start carousel  */
.carousel {
    padding-top: 180px;
    background-image: url(../image/pic2.png);
    background-position: top;
    background-size: 100%;
    overflow: hidden;
}
.carousel__container {
    display: flex;
    align-items: center;
}
.container__left {
    width: 60%;
}
.container__right {
    width: 40%;
}
.title p:first-of-type {
    font-size: 1.4rem;
    color: #f55f8d;
    font-weight: 600;
    margin-bottom: 20px;
}
.title h1 {
    font-size: 4.4rem;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}
.article p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}
.article ul {
    margin-bottom: 20px;
}
.article ul li {
    list-style: none;
    padding: 10px 5px 10px 0;
}
.article ul li i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 50%;
    color: white;
    font-weight: 900;
    font-size: 1.4rem;
    margin-right: 10px;
}
.article ul li span {
    font-size: 1.3rem;
}
.container__right .carousel__img  {
    width: 570px;
    margin-left: 50px;
}
.container__right .carousel__img img {
    max-width: 100%;
    display: block;
}
/* start services  */
.services {
    background-image: url(../image/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding: 115px 0 0;
}

.services__title p {
    font-size: 1.4rem;
    color: #f55f8d;
    font-weight: 700;
}
.services__title h1 {
    font-size: 4.4rem;
    color: #070120;
}
.services__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 30px;
}
.services__item .item {
    padding: 30px 45px;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    transition: all .5s;
}
.services__item .item:hover {
    transform: translateY(-20px);
}
.services__item .item img {
    width: 215px;
}
.services__item .item h3 {
    font-size: 1.5rem;
    padding: 20px 0;
}
/* start about */ 
.about {
    background-image: url(../image/bg15.png);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 100%;
    padding:115px 85px;
    overflow: hidden;
}
.about__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.about__left {
    width: 60%;
    left: -17%;
    position: absolute;
}
.about__left img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}
.about__right {
    width: 50%;
}
.about__right p:first-of-type {
    font-size: 1.4rem;
    color: #f55f8d;
    font-weight: 700;
}
.about__right h1 {
    font-size: 4.4rem;
    color: #070120;
    line-height: 1.1;
    margin: 20px 0 20px;
}
.about__right ul {
    margin: 20px 0 30px;
}
.about__right ul li {
    list-style: none;
}

.about__right ul li i {
    color: #f55f8d;
    font-size: 1.5rem;
    margin-right: 10px;
    vertical-align:middle;
}
.article ul li span {
    font-size: 1.3rem;
}